<%- include(_path.join(__viewsPath, 'partials/head'))%>
<body>
<div id="page-content">
    <div id="home">
        <div id="home-content-wrapper">

            <div id="home-text-wrapper">
                <div id="home-name">
                    <span class="name">Léo</span>
                    <span class="name">Boyer</span>
                </div>
                <div id="home-portfolio-word">
                    <div class="letter">p</div>
                    <div class="letter">o</div>
                    <div class="letter">r</div>
                    <div class="letter">t</div>
                    <div class="letter">f</div>
                    <div class="letter">o</div>
                    <div class="letter">l</div>
                    <div class="letter">i</div>
                    <div class="letter">o</div>
                    <div class="letter dot">.</div>
                </div>

            </div>
            <div id="arrow-scroll" class="link-1">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                <polyline class="arrow-scroll-line" points="21,105.5 151.4,194.5 279,105.5" />
                </svg>

            </div>
        </div>
    </div>
    <div id="homepage-content">
        <div id="mybio" class="slide">
            <div id="mybio-title">
                <div id="line-1">Qui</div>
                <div id="line-2">suis-je ?</div>
            </div>
            <div id="mybio-content">
                <div class="row">
                    <div class="col-12 col-md-auto text-center align-items-center justify-content-center d-flex">
                        <div id="mybio-photo"></div>
                    </div>
                    <div class="col-12 col-md px-3">
                        <div id="mybio-text-wrapper" class="cursor-hidden">
                            <div class="mybio-text" is="cursor-hide">
                                <p>
                                    Léo Boyer, étudiant en DUT Métiers du Multimédia et de l'Internet à Grenoble. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto aut blanditiis consequatur deserunt dolorum eligendi esse ex explicabo
                                </p>
                            </div>
                            <div id="mybio-text-louwp"  is="cursor-hide">
                                <div id="mybio-hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="my-portfolio" class="mb-4">
            <div id="my-portfolio-title">
                <div class="line-1">Ce que</div>
                <div class="line-2">je sais faire</div>
            </div>
            <div id="my-portfolio-categories">
                <a href="/web" class="category i-link"  is="cursor-link" cursor-class="hover1 dark" id="category-code">
                    <div class="category-content">
                        <img src="assets/icons/web-programming.svg" alt="">
                        <div class="category-name">Web et<br> programmation</div>
                    </div>
                </a>
                <a href="/av" class="category i-link" is="cursor-link" cursor-class="hover1 dark">
                    <div class="category-content">
                        <img src="assets/icons/web-programming.svg" alt="">
                        <div class="category-name">Audiovisuel</div>
                    </div>
                </a>
                <a href="/graphisme" class="category i-link"  is="cursor-link" cursor-class="hover1 dark">
                    <div class="category-content">
                        <img src="assets/icons/web-programming.svg" alt="">
                        <div class="category-name">Graphisme</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="contact" class="mt-5">
            <div id="contact-title">
                <div class="lt lt1 ltc">C</div><div class="lt lt2 lto">o</div><div class="lt lt3 ltn">n</div><div class="lt lt4 ltt">t</div><div class="lt lt5 lta">a</div><div class="lt lt6 ltc2">c</div><div class="lt lt7 ltt2">t</div>
            </div>
            <div id="contact-content">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<!--<div id="menu"></div>-->
<!--<div id="menu-button"<%= locals.page ? 'class=scrolled' : '' %>>-->
<!--    <div id="menu-button-icon" class="link-1">-->
<!--        <div class="h-bar"></div>-->
<!--        <div class="h-bar"></div>-->
<!--        <div class="h-bar"></div>-->
<!--        <div class="x-bar"></div>-->
<!--        <div class="x-bar"></div>-->
<!--    </div>-->
<!--    <div id="menu-button-hint">-->
<!--        <div class="text-menu" class="link-1">-->
<!--            <span>M</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>e</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>n</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>u</span>-->
<!--        </div>-->
<!--        <div class="text-close">-->
<!--            <span>F</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>e</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>r</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>m</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>e</span>&lt;!&ndash; whitespace-->
<!--            &ndash;&gt;<span>r</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="ext-page" <%= locals.page ? 'class=open' : '' %>>
    <div class="cache"></div>
    <div id="ext-content" <%= locals.page ? '' : 'class=hidden' %>>
        <%if (locals.page) { %>
        <%-include(_path.join(__viewsPath, locals.page))%>
        <%}%>
    </div>
</div>

<!--<div id="cursor-pointer" class="cursor-follow"></div>-->
<div id="cursor-follower" class="cursor-follow">
    <div class="round-cursor"></div>
    <div class="plus-cursor"></div>
    <div class="cross">
        <div class="x-bar"></div>
        <div class="x-bar"></div>
    </div>
<!--    <div class="plus-cursor-info">Voir</div>-->
    <div class="progress-cursor">
        <svg height="40" width="40">
            <circle id="loadcircle" cx="20" cy="20" r="15" stroke-width="3" fill="none" />
        </svg>
    </div>
</div>
</body>
</html>
