<%- include(_path.join(__viewsPath, 'partials/head'))%>
<div id="page-content">
    <div id="home">
        <div id="home-content-wrapper">

            <div id="home-text-wrapper">
                <div id="home-name">
                    <span class="name anim-when-loaded">Léo</span>
                    <span class="name anim-when-loaded">Boyer</span>
                </div>
                <div id="home-portfolio-word">
                    <div class="letter">p</div>
                    <div class="letter">o</div>
                    <div class="letter">r</div>
                    <div class="letter">t</div>
                    <div class="letter">f</div>
                    <div class="letter">o</div>
                    <div class="letter">l</div>
                    <div class="letter">i</div>
                    <div class="letter">o</div>
                    <div class="letter dot">.</div>
                </div>

            </div>
            <a id="arrow-scroll" is="cursor-link" cursor-class="hover1">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                <polyline class="arrow-scroll-line" points="21,105.5 151.4,194.5 279,105.5" />
                </svg>

            </a>
        </div>
    </div>
    <div id="homepage-content">
        <div id="my-portfolio" class="mb-4">
            <div id="my-portfolio-title" class="part-title">
                <div class="line-1">Mes</div>
                <div class="line-2">projets</div>
            </div>
            <div id="my-portfolio-categories">
                <div class="category">
                    <div class="category-content-wrapper">
                        <a href="/web" class="category-content i-link"  is="cursor-link" cursor-class="hover1" id="category-code">
                            <img src="/assets/icons/web-programming.svg" alt="Icon Web">
                            <div class="category-name">Web et<br>programmation</div>
                        </a>
                    </div>
                </div>
                <div class="category">
                    <div class="category-content-wrapper">
                        <a href="/video" class="category-content i-link" is="cursor-link" cursor-class="hover1">
                            <img src="/assets/icons/video.svg" alt="Icon AV">
                            <div class="category-name">Audiovisuel<br>et vidéo</div>
                        </a>
                    </div>
                </div>
                <div class="category">
                    <div class="category-content-wrapper">
                        <a href="/graphics" class="category-content i-link"  is="cursor-link" cursor-class="hover1">
                            <img src="/assets/icons/graphics.svg" alt="Icon Graphisme">
                            <div class="category-name">Graphisme et<br>motion-design</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mybio" class="slide">
            <div id="mybio-title" class="part-title">
                <div id="line-1">Qui</div>
                <div id="line-2">suis-je ?</div>
            </div>
            <div id="mybio-content">
                <div class="row">
                    <div class="col-12 col-lg-auto text-center align-items-center justify-content-center d-flex">
                        <div id="mybio-photo"></div>
                    </div>
                    <div class="col-12 col-md px-3">
                        <div id="mybio-text-wrapper" class="cursor-hidden">
                            <div class="mybio-text" is="cursor-hide">
                                <p>
                                    Léo Boyer, 19 ans, passionné depuis plus de 7 ans par le web, l'informatique, l'audiovisuel, et la création en général. Je me forme actuellement en DUT <b>Métiers du Multimédia et de l'Internet</b> à Grenoble, et j'aimerais m'orienter vers un métier dans le développement, me permettant d'exercer ma créativité.
                                </p>
                                <p>
                                    <a class="i-link" href="/profile" class="louwp-hover" data-hover="focus"><u>Voir mon profil</u></a>
                                </p>
                            </div>
                            <div id="mybio-text-louwp"  is="cursor-hide">
                                <div id="mybio-hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="mt-5">
            <div id="contact-title" class="part-title">
                <div class="lt lt1 ltc">C</div><div class="lt lt2 lto">o</div><div class="lt lt3 ltn">n</div><div class="lt lt4 ltt">t</div><div class="lt lt5 lta">a</div><div class="lt lt6 ltc2">c</div><div class="lt lt7 ltt2">t</div>
            </div>
            <div id="contact-content">
                <div class="cv">
                    <a target="_blank" href="/assets/CV-Boyer-Léo.pdf" class="button" is="cursor-link" cursor-class="dark hover1">&mdash; Mon CV</a>
                    <a target="_blank" href="/assets/CarteVisite-Boyer-Léo.pdf" class="button" is="cursor-link" cursor-class="dark hover1">Ma Carte de Visite &mdash;</a>
                </div>
                <div class="coords">
                    <p>+33 (0) 7 82 45 93 32 - <a href="mailto:contact@leoboyer.fr" is="cursor-link" cursor-class="hover1"><u>contact@leoboyer.fr</u></a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="homepage-footer">

    </div>
</div>
<div id="ext-page" <%= locals.page ? 'class=open' : '' %>>
    <div class="cache"></div>
    <div id="ext-content" is="cursor-scrollable" <%= locals.page ? '' : 'class=hidden' %>>
        <%if (locals.page) { %>
        <%-include(_path.join(__viewsPath, locals.page))%>
        <%}%>
    </div>
</div>



<%-include('./partials/cursorFollower')%>
<%-include('./partials/menu')%>
<script src="/assets/custom-elements.min.js"></script>
</body>
</html>
