<section class="content-wrapper text-center portfolio-list" id="profile">
    <header class="header profil">
        <div class="svg-text-wrapper">
            <svg class="svg-text graphisme" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="657.9px"
                 height="204.9px" viewBox="0 0 657.9 204.9" style="enable-background:new 0 0 657.9 204.9;" xml:space="preserve">
                <defs>
                </defs>
                <g>
                    <path class="st0 letter-pmaj" d="M0,20.2h78c53.3,0,81.4,31.4,81.4,70.2s-28.1,70.2-81.7,70.2H39.3v41.5H0V20.2z M79.7,126.9
		c23.3,0,38.5-16.3,38.5-36.5c0-20.2-15.2-36.5-38.2-36.5H39.3v73H79.7z"/>
                    <path class="st0 letter-r" d="M184.1,61.7h37v26.9c3.9-11.5,18.2-29.8,49.1-29.8v41c-32.6,0-48.6,14.9-48.6,48.3v53.9h-37.6V61.7z"/>
                    <path class="st0 letter-o" d="M285.4,131.9c0-40.7,33.1-73,74.9-73c42.1,0,75.2,32.3,75.2,73s-33.1,73-75.2,73
		C318.6,204.9,285.4,172.6,285.4,131.9z M397.2,131.9c0-21.9-15.7-38.2-36.8-38.2c-21.1,0-36.8,16.3-36.8,38.2
		c0,22.2,15.7,38.2,36.8,38.2C381.4,170.1,397.2,154.1,397.2,131.9z"/>
                    <path class="st0 letters-fi" d="M465.9,92.3H444V62h21.9v-9.3c0-32.6,18-46.6,41.8-46.6c12.6,0,26.7,3.6,36.5,8.7l-10.7,27.8
		c-3.1-1.4-9.3-4.2-15.7-4.2c-7.9,0-14.3,3.9-14.3,18.5V62h35.1v30.3h-35.1v109.7h-37.6V92.3z M550.7,22.5
		c0-12.3,10.1-22.5,22.2-22.5c12.3,0,22.5,10.1,22.5,22.5c0,12.1-10.1,22.2-22.5,22.2C560.8,44.6,550.7,34.5,550.7,22.5z
		 M554.3,61.7h37.6v140.3h-37.6V61.7z"/>
                    <path class="st0 letter-l" d="M620.3,17.4h37.6v184.7h-37.6V17.4z"/>
                </g>
</svg>
        </div>
        <a href="/" onmouseover="document.querySelector('.svg-text-wrapper').classList.add('del')" onmouseout="document.querySelector('.svg-text-wrapper').classList.remove('del')" class="header-close i-link" is="cursor-link" cursor-class="closing" >
            <div class="cross">
                <div class="x-bar"></div>
                <div class="x-bar"></div>
            </div>
        </a>

    </header>
    <div class="profile-content">
        <div class="pan pan-left">
            <div class="profile-img-wrapper">
                <div class="profile-img"></div>
            </div>
            <p class="profile-desc">
                Bonjour, je suis Léo Boyer et j'ai  19 ans. Je suis passionné depuis plus de 7 ans par le web, l'informatique et l'audiovisuel, et par la création. Je me forme actuellement en DUT <b>Métiers du Multimédia et de l'Internet</b> à Grenoble, et j'aimerais m'orienter vers un métier dans le développement, qui me permette d'exercer ma créativité.
            </p>
            <div class="profile-cv">
                <a href="/assets/CV_Léo_Boyer.pdf" class="button light" is="cursor-link" cursor-class="dark hover1">&mdash; Mon CV &mdash;</a>
            </div>
        </div>
        <div class="pan pan-right">
            <div class="profile-details courses">
                <h1>Mon parcours</h1>
                <%-include('./components/courseBlock', {
                title: 'DUT MMI',
                date: '2018 - 2020',
                description: [
                `Le DUT MMI, pour <b>Métiers du Multimédia et de l'Internet</b>, regroupe une grande partie de mes centres d'intérêts. Il m'a permis de progresser en audiovisuel, en web, de débuter en graphisme et en communication, et d'apprendre les bases de la gestion de projet.`,
                `À travers de nombreux projets, il me permet de mettre en pratique mes compétences et mes connaissances.`,
                `Je suis actuellement cette formation à Grenoble.`
                ]
                })%>

                <%-include('./components/courseBlock', {
                title: 'Bac S Sciences de l\'ingénieur',
                date: '2018',
                description: [
                `J'ai obtenu le Bac S SI avec mention Très Bien au lycée <b>La Marninière Diderot</b> à Lyon.`,
                "Les différents projets comme le TPE de Première m'ont amené à devoir penser de manière différente et créative."
                ]
                })%>
            </div>
            <div class="profile-details">
                <h1>Mes compétences</h1>
                <div class="skills-list">
                    <%-include('./components/skillsBlock', {
                        title: ['Développement', 'Web'],
                        skills: [
                            { name: 'HTML / CSS', slug: 'css' },
                            { name: 'Préprocesseur Sass', slug: 'sass' },
                            { name: 'Webpack', slug: 'webpack' },
                            { name: 'NodeJS', slug: 'node' },
                            { name: 'Socket.io', slug: 'socket-io' },
                            { name: 'PHP', slug: 'php' },
                            { name: 'Python', slug: 'python' },
                            { name: 'Contrôleur de version Git', slug: 'git' },
                            { name: 'MySQL / MariaDB', slug: 'mysql' },
                        ],
                        description: [
                            `Mes langages de prédilection sont Javascript et Typescript, mais j'utilise beaucoup PHP et j'ai des bases en Python.`,
                            `Côté front-end je sais utiliser Webpack pour "bundler" mes fichiers source.`,
                        `Côté back-end, je développe en PHP ou en NodeJS. Je suis passionné par la notion de temps réel donc j'expérimente beaucoup avec Socket.io`
                        ]
                    })%>

                    <%-include('./components/skillsBlock', {
                    title: ['Production', 'Audiovisuelle'],
                    skills: [
                    { name: 'Pré-production', slug: 'checklist' },
                    { name: 'Tournage', slug: 'camera' },
                    { name: 'Montage et Post-production', slug: 'editing' },
                    { name: 'Premiere Pro', slug: 'premiere' },
                    { name: 'After Effect', slug: 'after' },
                    { name: 'DaVinci Resolve', slug: 'davinci' },
                    ],
                    description: [
                    `Durant ma formation de DUT et à titre personnel, j'ai pu me perfectionner dans la réalisation d'un projet vidéo de A à Z.`,
                    `J'ai des notions de préparation et d'organisation de tournage, d'image et de son, et enfin de montage, post-production et étalonnage.`
                    ]
                    })%>

                    <%-include('./components/skillsBlock', {
                    title: ['Design', 'Graphisme et motion design'],
                    skills: [
                    { name: 'Motion design', slug: 'motion' },
                    { name: 'After Effect', slug: 'after' },
                    { name: 'Illustrator', slug: 'illustrator' },
                    { name: 'Photoshop', slug: 'photoshop' },
                    { name: 'InDesign', slug: 'indesign' },
                    ],
                    description: [
                    `Je suis passionné de motion design et c'est par cette voie que je me suis intéressé au graphisme.`,
                    `Durant mon DUT J'ai pu apprendre les bases des notions élémentaires d'esthétique et de composition. Je me suis également perfectionné sur les outils.`
                    ]
                    })%>

                    <%-include('./components/skillsBlock', {
                    title: ['Compétences', 'Transversales'],
                    skills: [
                    { name: 'Scrum Agile', slug: 'scrum' },
                    { name: "Outils d'intelligence collective", slug: 'ico' },
                    ],
                    description: [
                    `J'ai été initié durant mon DUT aux techniques d'intelligence collective, de plus en plus largement utilisées.`,
                        `J'ai pu pratiquer diverses méthodes de gestion de projet, notamment la méthode "Scrum Agile".`
                    ]
                    })%>

                    <%-include('./components/skillsBlock', {
                    title: ['Généralités', 'Informatique'],
                    skills: [
                    { name: 'Linux', slug: 'linux' },
                    { name: 'Suite Office', slug: 'office' },
                    ],
                    description: [
                    `Je suis très à l'aise en informatique de manière générale. J'utilise baucoup Linux pour du développement, et je maîtrise la suite office (Word, Excel, Powerpoint).`
                    ]
                    })%>
                </div>
            </div>
        </div>
    </div>

</section>

